__pycache__/export.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/tinystories.cpython-310.pyc
__pycache__/tokenizer.cpython-310.pyc
data/TinyStories_all_data.tar.gz
data/TinyStories_all_data/data00.bin
data/TinyStories_all_data/data00.json
data/TinyStories_all_data/data01.bin
data/TinyStories_all_data/data01.json
data/TinyStories_all_data/data02.bin
data/TinyStories_all_data/data02.json
data/TinyStories_all_data/data03.bin
data/TinyStories_all_data/data03.json
data/TinyStories_all_data/data04.bin
data/TinyStories_all_data/data04.json
data/TinyStories_all_data/data05.bin
data/TinyStories_all_data/data05.json
data/TinyStories_all_data/data06.bin
data/TinyStories_all_data/data06.json
data/TinyStories_all_data/data07.bin
data/TinyStories_all_data/data07.json
data/TinyStories_all_data/data08.bin
data/TinyStories_all_data/data08.json
data/TinyStories_all_data/data09.bin
data/TinyStories_all_data/data09.json
data/TinyStories_all_data/data10.bin
data/TinyStories_all_data/data10.json
data/TinyStories_all_data/data11.bin
data/TinyStories_all_data/data11.json
data/TinyStories_all_data/data12.bin
data/TinyStories_all_data/data12.json
data/TinyStories_all_data/data13.bin
data/TinyStories_all_data/data13.json
data/TinyStories_all_data/data14.bin
data/TinyStories_all_data/data14.json
data/TinyStories_all_data/data15.bin
data/TinyStories_all_data/data15.json
data/TinyStories_all_data/data16.bin
data/TinyStories_all_data/data16.json
data/TinyStories_all_data/data17.bin
data/TinyStories_all_data/data17.json
data/TinyStories_all_data/data18.bin
data/TinyStories_all_data/data18.json
data/TinyStories_all_data/data19.bin
data/TinyStories_all_data/data19.json
data/TinyStories_all_data/data20.bin
data/TinyStories_all_data/data20.json
data/TinyStories_all_data/data21.bin
data/TinyStories_all_data/data21.json
data/TinyStories_all_data/data22.bin
data/TinyStories_all_data/data22.json
data/TinyStories_all_data/data23.bin
data/TinyStories_all_data/data23.json
data/TinyStories_all_data/data24.bin
data/TinyStories_all_data/data24.json
data/TinyStories_all_data/data25.bin
data/TinyStories_all_data/data25.json
data/TinyStories_all_data/data26.bin
data/TinyStories_all_data/data26.json
data/TinyStories_all_data/data27.bin
data/TinyStories_all_data/data27.json
data/TinyStories_all_data/data28.bin
data/TinyStories_all_data/data28.json
data/TinyStories_all_data/data29.bin
data/TinyStories_all_data/data29.json
data/TinyStories_all_data/data30.bin
data/TinyStories_all_data/data30.json
data/TinyStories_all_data/data31.bin
data/TinyStories_all_data/data31.json
data/TinyStories_all_data/data32.bin
data/TinyStories_all_data/data32.json
data/TinyStories_all_data/data33.bin
data/TinyStories_all_data/data33.json
data/TinyStories_all_data/data34.bin
data/TinyStories_all_data/data34.json
data/TinyStories_all_data/data35.bin
data/TinyStories_all_data/data35.json
data/TinyStories_all_data/data36.bin
data/TinyStories_all_data/data36.json
data/TinyStories_all_data/data37.bin
data/TinyStories_all_data/data37.json
data/TinyStories_all_data/data38.bin
data/TinyStories_all_data/data38.json
data/TinyStories_all_data/data39.bin
data/TinyStories_all_data/data39.json
data/TinyStories_all_data/data40.bin
data/TinyStories_all_data/data40.json
data/TinyStories_all_data/data41.bin
data/TinyStories_all_data/data41.json
data/TinyStories_all_data/data42.bin
data/TinyStories_all_data/data42.json
data/TinyStories_all_data/data43.bin
data/TinyStories_all_data/data43.json
data/TinyStories_all_data/data44.bin
data/TinyStories_all_data/data44.json
data/TinyStories_all_data/data45.bin
data/TinyStories_all_data/data45.json
data/TinyStories_all_data/data46.bin
data/TinyStories_all_data/data46.json
data/TinyStories_all_data/data47.bin
data/TinyStories_all_data/data47.json
data/TinyStories_all_data/data48.bin
data/TinyStories_all_data/data48.json
data/TinyStories_all_data/data49.bin
data/TinyStories_all_data/data49.json
stories15M.bin
run
runq
out/ckpt.pt
out/model.bin
data/SimpleStories/test_000.bin
data/SimpleStories/test_000.json
data/SimpleStories/train_000.bin
data/SimpleStories/train_000.json
data/SimpleStories/train_001.bin
data/SimpleStories/train_001.json
data/SimpleStories/train_002.bin
data/SimpleStories/train_002.json
data/SimpleStories/train_003.bin
data/SimpleStories/train_003.json
data/SimpleStories/train_004.bin
data/SimpleStories/train_004.json
data/SimpleStories/train_005.bin
data/SimpleStories/train_005.json
data/SimpleStories/train_006.bin
data/SimpleStories/train_006.json
data/SimpleStories/train_007.bin
data/SimpleStories/train_007.json
data/SimpleStories/train_008.bin
data/SimpleStories/train_008.json
data/SimpleStories/train_009.bin
data/SimpleStories/train_009.json
data/SimpleStories/train_010.bin
data/SimpleStories/train_010.json
data/SimpleStories/train_011.bin
data/SimpleStories/train_011.json
data/SimpleStories/train_012.bin
data/SimpleStories/train_012.json
data/SimpleStories/train_013.bin
data/SimpleStories/train_013.json
data/SimpleStories/train_014.bin
data/SimpleStories/train_014.json
data/SimpleStories/train_015.bin
data/SimpleStories/train_015.json
data/SimpleStories/train_016.bin
data/SimpleStories/train_016.json
data/SimpleStories/train_017.bin
data/SimpleStories/train_017.json
data/SimpleStories/train_018.bin
data/SimpleStories/train_018.json
data/SimpleStories/train_019.bin
data/SimpleStories/train_019.json
data/SimpleStories/train_020.bin
data/SimpleStories/train_020.json
data/SimpleStories/train_021.bin
data/SimpleStories/train_021.json
data/SimpleStories/train_022.bin
data/SimpleStories/train_022.json
data/SimpleStories/train_023.bin
data/SimpleStories/train_023.json
data/SimpleStories/train_024.bin
data/SimpleStories/train_024.json
data/SimpleStories/train_025.bin
data/SimpleStories/train_025.json
data/SimpleStories/train_026.bin
data/SimpleStories/train_026.json
data/SimpleStories/train_027.bin
data/SimpleStories/train_027.json
data/SimpleStories/train_028.bin
data/SimpleStories/train_028.json
data/SimpleStories/train_029.bin
data/SimpleStories/train_029.json
data/SimpleStories/train_030.bin
data/SimpleStories/train_030.json
data/SimpleStories/train_031.bin
data/SimpleStories/train_031.json
data/SimpleStories/train_032.bin
data/SimpleStories/train_032.json
data/SimpleStories/train_033.bin
data/SimpleStories/train_033.json
data/SimpleStories/train_034.bin
data/SimpleStories/train_034.json
data/SimpleStories/train_035.bin
data/SimpleStories/train_035.json
data/SimpleStories/train_036.bin
data/SimpleStories/train_036.json
data/SimpleStories/train_037.bin
data/SimpleStories/train_037.json
data/SimpleStories/train_038.bin
data/SimpleStories/train_038.json
data/SimpleStories/train_039.bin
data/SimpleStories/train_039.json
data/SimpleStories/train_040.bin
data/SimpleStories/train_040.json
data/SimpleStories/train_041.bin
data/SimpleStories/train_041.json
data/SimpleStories/train_042.bin
data/SimpleStories/train_042.json
data/SimpleStories/train_043.bin
data/SimpleStories/train_043.json
data/SimpleStories/train_044.bin
data/SimpleStories/train_044.json
data/SimpleStories/train_045.bin
data/SimpleStories/train_045.json
data/SimpleStories/train_046.bin
data/SimpleStories/train_046.json
data/SimpleStories/train_047.bin
data/SimpleStories/train_047.json
data/SimpleStories/train_048.bin
data/SimpleStories/train_048.json
data/SimpleStories/train_049.bin
data/SimpleStories/train_049.json
data/SimpleStories/train_050.bin
data/SimpleStories/train_050.json
data/SimpleStories/train_051.bin
data/SimpleStories/train_051.json
data/SimpleStories/train_052.bin
data/SimpleStories/train_052.json
data/SimpleStories/train_053.bin
data/SimpleStories/train_053.json
data/SimpleStories/train_054.bin
data/SimpleStories/train_054.json
data/SimpleStories/train_055.bin
data/SimpleStories/train_055.json
data/SimpleStories/train_056.bin
data/SimpleStories/train_056.json
data/SimpleStories/train_057.bin
data/SimpleStories/train_057.json
data/SimpleStories/train_058.bin
data/SimpleStories/train_058.json
data/SimpleStories/train_059.bin
data/SimpleStories/train_059.json
data/SimpleStories/train_060.bin
data/SimpleStories/train_060.json
data/SimpleStories/train_061.bin
data/SimpleStories/train_061.json
data/SimpleStories/train_062.bin
data/SimpleStories/train_062.json
data/SimpleStories/train_063.bin
data/SimpleStories/train_063.json
data/SimpleStories/train_064.bin
data/SimpleStories/train_064.json
data/SimpleStories/train_065.bin
data/SimpleStories/train_065.json
data/SimpleStories/train_066.bin
data/SimpleStories/train_066.json
data/SimpleStories/train_067.bin
data/SimpleStories/train_067.json
data/SimpleStories/train_068.bin
data/SimpleStories/train_068.json
data/SimpleStories/train_069.bin
data/SimpleStories/train_069.json
data/SimpleStories/train_070.bin
data/SimpleStories/train_070.json
data/SimpleStories/train_071.bin
data/SimpleStories/train_071.json
data/SimpleStories/train_072.bin
data/SimpleStories/train_072.json
data/SimpleStories/train_073.bin
data/SimpleStories/train_073.json
data/SimpleStories/train_074.bin
data/SimpleStories/train_074.json
data/SimpleStories/train_075.bin
data/SimpleStories/train_075.json
data/SimpleStories/train_076.bin
data/SimpleStories/train_076.json
data/SimpleStories/train_077.bin
data/SimpleStories/train_077.json
data/SimpleStories/train_078.bin
data/SimpleStories/train_078.json
data/SimpleStories/train_079.bin
data/SimpleStories/train_079.json
data/SimpleStories/train_080.bin
data/SimpleStories/train_080.json
data/SimpleStories/train_081.bin
data/SimpleStories/train_081.json
data/SimpleStories/train_082.bin
data/SimpleStories/train_082.json
data/SimpleStories/train_083.bin
data/SimpleStories/train_083.json
data/SimpleStories/train_084.bin
data/SimpleStories/train_084.json
data/SimpleStories/train_085.bin
data/SimpleStories/train_085.json
data/SimpleStories/train_086.bin
data/SimpleStories/train_086.json
data/SimpleStories/train_087.bin
data/SimpleStories/train_087.json
data/SimpleStories/train_088.bin
data/SimpleStories/train_088.json
data/SimpleStories/train_089.bin
data/SimpleStories/train_089.json
data/SimpleStories/train_090.bin
data/SimpleStories/train_090.json
data/SimpleStories/train_091.bin
data/SimpleStories/train_091.json
data/SimpleStories/train_092.bin
data/SimpleStories/train_092.json
data/SimpleStories/train_093.bin
data/SimpleStories/train_093.json
data/SimpleStories/train_094.bin
data/SimpleStories/train_094.json
data/SimpleStories/train_095.bin
data/SimpleStories/train_095.json
data/SimpleStories/train_096.bin
data/SimpleStories/train_096.json
data/SimpleStories/train_097.bin
data/SimpleStories/train_097.json
data/SimpleStories/train_098.bin
data/SimpleStories/train_098.json
data/SimpleStories/train_099.bin
data/SimpleStories/train_099.json
data/SimpleStories/train_100.bin
data/SimpleStories/train_100.json
data/SimpleStories/train_101.bin
data/SimpleStories/train_101.json
data/SimpleStories/train_102.bin
data/SimpleStories/train_102.json
data/SimpleStories/train_103.bin
data/SimpleStories/train_103.json
data/SimpleStories/train_104.bin
data/SimpleStories/train_104.json
data/SimpleStories/train_105.bin
data/SimpleStories/train_105.json
data/SimpleStories/train_106.bin
data/SimpleStories/train_106.json
data/SimpleStories/train_107.bin
data/SimpleStories/train_107.json
data/SimpleStories/train_108.bin
data/SimpleStories/train_108.json
data/SimpleStories/train_109.bin
data/SimpleStories/train_109.json
data/SimpleStories/train_110.bin
data/SimpleStories/train_110.json
data/SimpleStories/train_111.bin
data/SimpleStories/train_111.json
data/SimpleStories/train_112.bin
data/SimpleStories/train_112.json
data/SimpleStories/train_113.bin
data/SimpleStories/train_113.json
data/SimpleStories/train_114.bin
data/SimpleStories/train_114.json
data/SimpleStories/train_115.bin
data/SimpleStories/train_115.json
data/SimpleStories/train_116.bin
data/SimpleStories/train_116.json
data/SimpleStories/train_117.bin
data/SimpleStories/train_117.json
data/SimpleStories/train_118.bin
data/SimpleStories/train_118.json
data/SimpleStories/train_119.bin
data/SimpleStories/train_119.json
data/SimpleStories/train_120.bin
data/SimpleStories/train_120.json
data/SimpleStories/train_121.bin
data/SimpleStories/train_121.json
data/SimpleStories/train_122.bin
data/SimpleStories/train_122.json
data/SimpleStories/train_123.bin
data/SimpleStories/train_123.json
data/SimpleStories/train_124.bin
data/SimpleStories/train_124.json
data/SimpleStories/train_125.bin
data/SimpleStories/train_125.json
data/SimpleStories/train_126.bin
data/SimpleStories/train_126.json
data/SimpleStories/train_127.bin
data/SimpleStories/train_127.json
data/SimpleStories/train_128.bin
data/SimpleStories/train_128.json
data/SimpleStories/train_129.bin
data/SimpleStories/train_129.json
data/SimpleStories/train_130.bin
data/SimpleStories/train_130.json
data/SimpleStories/train_131.bin
data/SimpleStories/train_131.json
data/SimpleStories/train_132.bin
data/SimpleStories/train_132.json
data/SimpleStories/train_133.bin
data/SimpleStories/train_133.json
data/SimpleStories/train_134.bin
data/SimpleStories/train_134.json
data/SimpleStories/train_135.bin
data/SimpleStories/train_135.json
data/SimpleStories/train_136.bin
data/SimpleStories/train_136.json
data/SimpleStories/train_137.bin
data/SimpleStories/train_137.json
data/SimpleStories/train_138.bin
data/SimpleStories/train_138.json
data/SimpleStories/train_139.bin
data/SimpleStories/train_139.json
data/SimpleStories/train_140.bin
data/SimpleStories/train_140.json
data/SimpleStories/train_141.bin
data/SimpleStories/train_141.json
data/SimpleStories/train_142.bin
data/SimpleStories/train_142.json
data/SimpleStories/train_143.bin
data/SimpleStories/train_143.json
data/SimpleStories/train_144.bin
data/SimpleStories/train_144.json
data/SimpleStories/train_145.bin
data/SimpleStories/train_145.json
data/SimpleStories/train_146.bin
data/SimpleStories/train_146.json
data/SimpleStories/train_147.bin
data/SimpleStories/train_147.json
data/SimpleStories/train_148.bin
data/SimpleStories/train_148.json
data/SimpleStories/train_149.bin
data/SimpleStories/train_149.json
data/SimpleStories/train_150.bin
data/SimpleStories/train_150.json
data/SimpleStories/train_151.bin
data/SimpleStories/train_151.json
data/SimpleStories/train_152.bin
data/SimpleStories/train_152.json
data/SimpleStories/train_153.bin
data/SimpleStories/train_153.json
data/SimpleStories/train_154.bin
data/SimpleStories/train_154.json
data/SimpleStories/train_155.bin
data/SimpleStories/train_155.json
data/SimpleStories/train_156.bin
data/SimpleStories/train_156.json
data/SimpleStories/train_157.bin
data/SimpleStories/train_157.json
data/SimpleStories/train_158.bin
data/SimpleStories/train_158.json
data/SimpleStories/train_159.bin
data/SimpleStories/train_159.json
data/SimpleStories/train_160.bin
data/SimpleStories/train_160.json
data/SimpleStories/train_161.bin
data/SimpleStories/train_161.json
data/SimpleStories/train_162.bin
data/SimpleStories/train_162.json
data/SimpleStories/train_163.bin
data/SimpleStories/train_163.json
data/SimpleStories/train_164.bin
data/SimpleStories/train_164.json
data/SimpleStories/train_165.bin
data/SimpleStories/train_165.json
data/SimpleStories/train_166.bin
data/SimpleStories/train_166.json
data/SimpleStories/train_167.bin
data/SimpleStories/train_167.json
data/SimpleStories/train_168.bin
data/SimpleStories/train_168.json
data/SimpleStories/train_169.bin
data/SimpleStories/train_169.json
data/SimpleStories/train_170.bin
data/SimpleStories/train_170.json
data/SimpleStories/train_171.bin
data/SimpleStories/train_171.json
data/SimpleStories/train_172.bin
data/SimpleStories/train_172.json
data/SimpleStories/train_173.bin
data/SimpleStories/train_173.json
data/SimpleStories/train_174.bin
data/SimpleStories/train_174.json
data/SimpleStories/train_175.bin
data/SimpleStories/train_175.json
data/SimpleStories/train_176.bin
data/SimpleStories/train_176.json
data/SimpleStories/train_177.bin
data/SimpleStories/train_177.json
data/SimpleStories/train_178.bin
data/SimpleStories/train_178.json
data/SimpleStories/train_179.bin
data/SimpleStories/train_179.json
data/SimpleStories/train_180.bin
data/SimpleStories/train_180.json
data/SimpleStories/train_181.bin
data/SimpleStories/train_181.json
data/SimpleStories/train_182.bin
data/SimpleStories/train_182.json
data/SimpleStories/train_183.bin
data/SimpleStories/train_183.json
data/SimpleStories/train_184.bin
data/SimpleStories/train_184.json
data/SimpleStories/train_185.bin
data/SimpleStories/train_185.json
data/SimpleStories/train_186.bin
data/SimpleStories/train_186.json
data/SimpleStories/train_187.bin
data/SimpleStories/train_187.json
data/SimpleStories/train_188.bin
data/SimpleStories/train_188.json
data/SimpleStories/train_189.bin
data/SimpleStories/train_189.json
data/SimpleStories/train_190.bin
data/SimpleStories/train_190.json
data/SimpleStories/train_191.bin
data/SimpleStories/train_191.json
data/SimpleStories/train_192.bin
data/SimpleStories/train_192.json
data/SimpleStories/train_193.bin
data/SimpleStories/train_193.json
data/SimpleStories/train_194.bin
data/SimpleStories/train_194.json
data/SimpleStories/train_195.bin
data/SimpleStories/train_195.json
data/SimpleStories/train_196.bin
data/SimpleStories/train_196.json
data/SimpleStories/train_197.bin
data/SimpleStories/train_197.json
data/SimpleStories/train_198.bin
data/SimpleStories/train_198.json
data/SimpleStories/train_199.bin
data/SimpleStories/train_199.json
data/SimpleStories/train_200.bin
data/SimpleStories/train_200.json
data/SimpleStories/train_201.bin
data/SimpleStories/train_201.json
data/SimpleStories/train_202.bin
data/SimpleStories/train_202.json
data/SimpleStories/train_203.bin
data/SimpleStories/train_203.json
data/SimpleStories/train_204.bin
data/SimpleStories/train_204.json
data/SimpleStories/train_205.bin
data/SimpleStories/train_205.json
data/SimpleStories/train_206.bin
data/SimpleStories/train_206.json
data/SimpleStories/train_207.bin
data/SimpleStories/train_207.json
data/SimpleStories/train_208.bin
data/SimpleStories/train_208.json
data/SimpleStories/train_209.bin
data/SimpleStories/train_209.json
data/SimpleStories/train_210.bin
data/SimpleStories/train_210.json
data/SimpleStories/train_211.bin
data/SimpleStories/train_211.json
__pycache__/simplestories.cpython-310.pyc
out/model_q8.bin
